@charset  "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Dosis);


.learn-section .col-xs-12.col-md-4 img {
    height: 300px;
    width: 400px;
}

#logo h3 {
    padding-left: 15px;
}

.win, .lost, .play-again {
    color: #fff;
    text-shadow: 0 0 15px rgba(101,67,49,0.9);
    background-color: #1B5299;
    font-size: 100px;
    font-family: FontAwesome;
    z-index:9999999999999999;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 45%;
}

.overlay {
    position:fixed;
    z-index:99999999999999;
    width:100%;
    height:100%;
    background-color: #1B5299;
}

.x-overlay:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 75px;
    padding: 15px;
    text-align: center;
    color: #ff0000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    height: 78px;
    width: 78px;
    z-index: 420;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.check-overlay:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 80px;
    padding: 15px;
    text-align: center;
    color: #1B5299;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    height: 78px;
    width: 78px;
    z-index: 420;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.x-overlay p {
    font-size: 16px;
}

.holder {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    padding: 30px;
    border: 1px solid #1B5299;
}

.meme-name {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #f9f9f9;
    padding: 8px;
    margin-top: 5%;
    margin-left: 5%;
    border: 1px solid #d3d3d3;
    height: 40px;
    width: 270px;
}

.meme-placeholder {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #f9f9f9;
    padding: 5px;
    height: 40px;
    width: 270px;
    margin-top: 5%;
    margin-left: 5%;
    border: 1px dashed #d3d3d3;
}

.meme-name p {
    font-weight: 600;
    line-height: 1.2;
    font-family: "Dosis",sans-serif;
    color: #1B5299;
}

.row {
    padding-left: 2%;
}

.win, .lost, .play-again {
    color: #fff;
    text-shadow: 0 0 15px rgba(101,67,49,0.9);
    background-color: #1B5299;
    font-size: 100px;
    font-family: FontAwesome;
    z-index:9999999999999999;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 45%;
}

.overlay {
    position:fixed;
    z-index:99999999999999;
    width:100%;
    height:100%;
    background-color: #1B5299;
}

.x-overlay:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 75px;
    padding: 15px;
    text-align: center;
    color: #ff0000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    height: 78px;
    width: 78px;
    z-index: 420;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.check-overlay:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 80px;
    padding: 15px;
    text-align: center;
    color: #1B5299;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    height: 78px;
    width: 78px;
    z-index: 420;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.x-overlay p {
    font-size: 16px;
}

.holder {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    padding: 30px;
    border: 1px solid #1B5299;
}

.recipe-name {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #f9f9f9;
    padding: 8px;
    margin-top: 5%;
    margin-left: 5%;
    border: 1px solid #d3d3d3;
    height: 40px;
    width: 270px;
}

.recipe-placeholder {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #f9f9f9;
    padding: 5px;
    height: 40px;
    width: 270px;
    margin-top: 5%;
    margin-left: 5%;
    border: 1px dashed #d3d3d3;
}

.recipe-name p {
    font-weight: 600;
    line-height: 1.2;
    font-family: "Dosis",sans-serif;
    color: #1B5299;
}

.l-inline,.header-nav,.line-items-hldr .item-fields,.btn-group,.footer-nav,.tab-hldr,.l-inline>li,.header-nav>li,.line-items-hldr .item-fields>li,.btn-group>li,.footer-nav>li,.tab-hldr>li,.l-inline-block>li,.press-footer-logos>li,.socials>li,.l-stacked>li,.btn-stacked>li,.form-group,.group {
    *zoom: 1;
}

.l-inline:before,.header-nav:before,.line-items-hldr .item-fields:before,.btn-group:before,.footer-nav:before,.tab-hldr:before,.l-inline>li:before,.header-nav>li:before,.line-items-hldr .item-fields>li:before,.btn-group>li:before,.footer-nav>li:before,.tab-hldr>li:before,.l-inline-block>li:before,.press-footer-logos>li:before,.socials>li:before,.l-stacked>li:before,.btn-stacked>li:before,.form-group:before,.group:before,.l-inline:after,.header-nav:after,.line-items-hldr .item-fields:after,.btn-group:after,.footer-nav:after,.tab-hldr:after,.l-inline>li:after,.header-nav>li:after,.line-items-hldr .item-fields>li:after,.btn-group>li:after,.footer-nav>li:after,.tab-hldr>li:after,.l-inline-block>li:after,.press-footer-logos>li:after,.socials>li:after,.l-stacked>li:after,.btn-stacked>li:after,.form-group:after,.group:after {
    content: " ";
    display: table;
}

.l-inline:after,.header-nav:after,.line-items-hldr .item-fields:after,.btn-group:after,.footer-nav:after,.tab-hldr:after,.l-inline>li:after,.header-nav>li:after,.line-items-hldr .item-fields>li:after,.btn-group>li:after,.footer-nav>li:after,.tab-hldr>li:after,.l-inline-block>li:after,.press-footer-logos>li:after,.socials>li:after,.l-stacked>li:after,.btn-stacked>li:after,.form-group:after,.group:after {
    clear: both;
}

.l-inline>li,.header-nav>li,.line-items-hldr .item-fields>li,.btn-group>li,.footer-nav>li,.tab-hldr>li {
    float: left;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

:focus {
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: 1.2;
    font-family: "Dosis",sans-serif;
    color: #1B5299;
}

h6  {
    font-size: 12px;
    font-family: "Archer SSm A","Archer SSm B",Georgia,"Georgia",serif;
    font-style: italic;
    font-weight: 300;
    color: #888;
}

p {
    margin-bottom: 1px;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #1B5299;
}

a:hover,a:focus {
    text-decoration: underline;
}

a:active {
    color: #1B5299;
}

.table,.table--striped {
    width: 100%;
    font-size: 14px;
    text-align: left;
}

.table thead,.table--striped thead {
    background-color: #25274d;
    border: 1px solid #1f2140;
    font-weight: 700;
    color: #fff;
}

.table th,.table--striped th {
    padding: 15px 20px;
}

.table td,.table--striped td {
    padding: 10px 20px;
}

.table tbody tr,.table--striped tbody tr {
    border: 1px solid #555;
    border-width: 0 1px 1px;
}


@media (max-width: 767px) {
    .holder {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0 transparent;
        -moz-box-shadow: 0 0 0 transparent;
        box-shadow: 0 0 0 transparent;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
}

.line {
    display: block;
    border-top: 1px solid #1B5299;
}

hr {
    border: solid 1px #e6e6e6;
}

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 768px) {
    .container {
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 962px) {
    .container {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

#ie7 .container,#ie8 .container {
    width: 940px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

.container-fluid:after {
    content: "";
    display: table;
    clear: both;
}

.row,.row-new {
    margin-left: -1.28205%;
    margin-right: -1.28205%;
    margin-bottom: 15px;
    *zoom: 1;
}

.row:after,.row-new:after {
    content: "";
    display: table;
    clear: both;
}

.col-xs-12,.col-md-4 {
    margin-left: 2.4%;
}

.col-xs-12 {
    float: left;
    width: 97.4359%;
}


@media (min-width: 962px) {
    .col-md-4 {
        float: left;
        width: 28%;
    }
}

#ie7 .col-md-4 {
    float: left;
}

#ie7 .col-md-1,#ie8 .col-md-1 {
    width: 5.76923%;
}

#ie7 .col-md-4,#ie8 .col-md-4 {
    width: 30.76923%;
}


html,body {
    height: 100%;
}

#body-wrap-container {
    height: 100%;
    background-color: #fff;
}

@media (max-width: 767px) {
    #body-wrap {
        margin: 0 auto -583px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 2 / 1),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx) {
    #body-wrap {
        background-image: url(https://media.blueapron.com/assets/shared/blue-linen@2x-5c304b85fe088e23450eeeef8f748246.png);
        background-size: 200px 200px;
    }
}

#header-main {
    font-family: "Dosis",sans-serif;
    background-color: #fff;
    min-height: 49px;
    padding: 8px 0;
    position: fixed;
    z-index: 520;
    left: 0;
    right: 0;
    border-bottom: 1px solid #1B5299;
    border-top: 4px solid #eee;
}

#ie7 #header-main,#ie8 #header-main {
    border-bottom: 1px solid #bbb;
}

@media (max-width: 767px) {
    #header-main {
        min-height: 40px;
        padding: 0;
        position: static;
        border-bottom: 1px solid #1B5299;
    }
}

.logged-in,.user-canceled {
    display: none !important;
}

#header-spacer {
    height: 65px;
}

@media (max-width: 767px) {
    #header-spacer {
        display: none;
    }
}

#logo {
    width: 105px;
}

#logo a,#logo img {
    display: block;
}

#logo img {
    max-width: 100%;
}

@media (min-width: 768px) and (max-width: 961px) {
    #logo {
        width: 95px;
    }
}

@media (max-width: 767px) {
    #logo {
        padding: 8px 0;
        float: right;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -40px;
    }

    #logo img {
        width: 80px;
        height: auto;
    }
}

#main-nav {
    float: left;
    height: 30px;
    padding: 9px 0 10px;
    margin-left: 16px;
}

@media (min-width: 768px) and (max-width: 961px) {
    #main-nav {
        margin-left: 15px;
    }
}

.header-nav {
    line-height: 30px;
}

.header-nav>li {
    padding: 0 40px 0 250px;
}

.header-nav p {
    display: block;
    font-weight: 200;
    color: #1B5299;
    font-size: 20px;
    height: 26px;
    line-height: 26px;
}

.header-nav .fa {
    padding-right: 6px;
}

.header-nav a:hover,.header-nav a:focus {
    border-color: #ccc;
    text-decoration: none;
}

.header-nav a.current {
    border-color: #1B5299;
}

@media (min-width: 768px) and (max-width: 961px) {
    .header-nav>li {
        padding: 0 10px;
    }

    .header-nav a {
        font-size: 16px;
    }
}

.new-pill {
    background-color: #DC6E2D;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 6px 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: -3px;
    margin-left: 2px;
    display: inline-block;
    line-height: 18px;
}

#ie7 .new-pill,#ie8 .new-pill {
    behavior: url(/assets/PIE.htc);
    position: relative;
}

@media (max-width: 767px) {
    .nav-collapse,.nav-collapse.collapse {
        background-color: #ededed;
        height: 0;
        overflow: hidden;
        clear: both;
    }

    .nav-collapse {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .collapse {
        -webkit-transition: height .35s ease;
        -moz-transition: height .35s ease;
        -o-transition: height .35s ease;
        transition: height .35s ease;
    }

    #main-nav {
        float: none;
        height: auto;
        margin: 0;
        padding: 0;
    }

    #main-nav .nav {
        padding: 20px;
    }

    #main-nav .nav>li {
        float: none;
        display: block;
        padding: 0;
    }

    #main-nav .nav>li.basket-hldr.show {
        display: none;
    }

    #main-nav .nav a {
        border-bottom: 1px solid #ccc;
        font-size: 28px;
        height: 34px;
        line-height: 34px;
        padding: 5px 0;
    }

    #main-nav .nav .nav_shop {
        border-bottom-width: 0;
    }

    #main-nav .nav:hover,#main-nav .nav:focus {
        border-color: #555;
    }

    #main-nav .nav.current {
        border-color: #1B5299;
    }
}

.content-wrap {
    -webkit-transition: -webkit-transform 400ms ease-out;
    -moz-transition: -moz-transform 400ms ease-out;
    -o-transition: -o-transform 400ms ease-out;
    transition: transform 400ms ease-out;
    position: relative;
    background-color: #fff;
    background-color: #fff;
    height: 100%;
}

.txt-caps {
    text-transform: uppercase;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.mobile-only,.small-only {
    display: none;
}

@media (max-width: 767px) {
    .small-hide {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none !important;
    }
}

@media (max-width: 961px) {
    .small-only {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 961px) {
    .desktop-only {
        display: none !important;
    }
}

.learn-info-list {
    list-style: disc;
}

.learn-info-list>li {
    margin-left: 15px;
}

.recipe-page .title-hldr {
    background-color: #1B5299;
    z-index: 2;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
    *zoom: 1;
}

#ie7 .recipe-page .title-hldr,#ie8 .recipe-page .title-hldr {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D91B5299',EndColorStr='#D91B5299');
    zoom: 1;
}

@media (min-width: 1200px) {
    .recipe-page .title-hldr {
        background-color: #1B5299;
    }
}

@media (max-width: 767px) {
    .recipe-page .title-hldr {
        padding: 20px;
        background-color: #fff;
        border-bottom: 1px solid #1B5299;
    }

    .recipe-page .title-hldr .main-title {
        font-size: 28px;
        color: #1B5299;
    }
}

@media (max-width: 767px) {
    .recipe-page .title-area {
        float: none;
        width: auto;
    }
}

.recipe-page .main-title {
    font-size: 26px;
    color: #fff;
    margin: 0 0 1px;
    text-align: center;
}

.recipe-page .sub-title {
    font-family: "Archer SSm A","Archer SSm B",Georgia,"Georgia",serif;
    font-weight: 700;
    font-style: italic;
    line-height: 1.5em;
    font-size: 18px;
    color: #f0f0f0;
    margin: 0;
}

.section-rec-basics {
    padding-top: 20px;
}

@media (max-width: 767px) {
    .section-rec-basics {
        padding-top: 0;
    }
}

.section-rec-basics .holder {
    overflow: hidden;
    position: relative;
}

.rec-basics-hldr {
    min-height: 200px;
}

@media (min-width: 1200px) {
    .rec-basics-hldr {
        min-height: 200px;
    }
}

@media (max-width: 767px) {
    .rec-basics-hldr {
        min-height: 0;
    }
}

@media (max-height: 760px) and (min-width: 1200px) {
    .rec-basics-hldr {
        min-height: 200px;
    }

    .rec-basics-hldr .rec-splash-img {
        top: 0;
    }
}

@media (min-height: 1060px) and (min-width: 1200px) {
    .rec-basics-hldr {
        min-height: 200px;
    }

    .rec-basics-hldr .rec-splash-img {
        top: 0;
    }
}

.recipe-page .holder {
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    width: 95%;
}

@media (max-width: 767px) {
    .recipe-page .holder {
        margin: 0;
        border-bottom: 1px solid #1B5299;
    }
}

.rec-area-title {
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.rec-area-title h2 {
    font-size: 30px;
    margin: 0;
}

.rec-area-content {
    position: relative;
    padding: 20px;
    *zoom: 1;
}

.rec-area-content:after {
    content: "";
    display: table;
    clear: both;
}

.icon {
    font-family: "FontAwesome";
}

body>img {
    display: none;
}
